$colour-main-background: #444;

$col-colours: (
  'eat_drink': #C62828,
  'sport': #FF4081,
  'culture': #FFEB3B,
  'fiesta': #8BC34A,
  'accommodation': #43A047,
  'cinema': #00796B,
  'transport': #3F51B5,
  'nature': #E040FB
);

$col-darken: (
  'eat_drink': 20%,
  'sport': 30%,
  'culture': 32%,
  'fiesta': 25%,
  'accommodation': 20%,
  'cinema': 10%,
  'transport': 20%,
  'nature': 32%
);
