$colour-main-background: #444;

$col-colours: (
  'ocio_eat_drink': #C62828,
  'ocio_fiesta': #FF4081,
  'ocio_sport': #FFEB3B,
  'ocio_culture': #8BC34A,
  'ocio_accommodation': #43A047,
  'ocio_cinema': #00796B,
  'ocio_transport': #3F51B5,
  'ocio_nature': #E040FB
);

$col-darken: (
  'ocio_eat_drink': 20%,
  'ocio_fiesta': 30%,
  'ocio_sport': 32%,
  'ocio_culture': 25%,
  'ocio_accommodation': 20%,
  'ocio_cinema': 10%,
  'ocio_transport': 20%,
  'ocio_nature': 32%
);
