$colour-main-background: #444;

$col-colours: (
  'eat_drink': #00796B,
  'sport': #43A047,
  'culture': #8BC34A,
  'fiesta': #FFEB3B,
  'accommodation': #C62828,
  'cinema': #FF4081,
  'transport': #E040FB,
  'nature': #3F51B5
);

$col-darken: (
  'eat_drink': 10%,
  'sport': 20%,
  'culture': 25%,
  'fiesta': 32%,
  'accommodation': 20%,
  'cinema': 30%,
  'transport': 35%,
  'nature': 20%
);
